<h2>Users Statistics</h2>

<div class="row-fluid">
    <div class="span12 ">
        <timeline data="data" changev="setData(visualization)" title='# of Users' collapse>
        </timeline>

    </div>

</div>
<div class="row-fluid">
    <div class="span12 box">

        <timeline data="dataFiltered.data" dataset="dataFiltered.dataset" multiline='true' options='timeline-opt' changev="dataFiltered.changeVisualization(visualization)" title='Multiline Graph' collapse>
            <div modal id-modal='timeline-opt' dataset="dataFiltered.dataset" change-data-set="dataFiltered.updateLines(newDataset)"></div>
        </timeline>


    </div>
</div>
<div class="row-fluid">

    <div class="span6 box">
        <piechart title='Users by Country' data="pieDataCountry"collapse></piechart>

    </div>
    <div class="span6 box">
        <piechart title='Users by Language' data="pieDataLanguage"collapse></piechart>
    </div>

</div>
<div class="row-fluid">
    <div class="span5 box">
        <geochart title='Users by Country' data="geoDataCountry" collapse></geochart>

    </div>
</div>
<div class="row-fluid" style="min-height: 300px"></div>

{{userFilters}}