$navbarCollapseWidth: 500px !default;
$sideBarAnimationSpeed: 0.3s;
$navbarHeight: 50px;
$background: #fdfdfe; 
$bodyBackground: $background;
@import "compass_twitter_bootstrap";
$sidebarBackgroundTop: #3c3d47 url(/images/background.png);
$sidebarBackgroundMain: #3c3d47;
$backgroundColor : #222;

$topBtnWidth: 40px;
html{
    height: 100%;
}
body{
    // margin-top: $navbarHeight;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin:0px !important;
    padding: 0px !important;
    background: url(../images/bg.jpg) repeat;
    filter: none;
    color: $textColor;
}

@import "compass_twitter_bootstrap_responsive";

 // NAVIGATION
.sidebar{
    position: fixed;
    left: 0px;
    bottom:0px;
    top: 0px;
    margin-left: 0px !important;
    background: $sidebarBackgroundMain;
    z-index: 1;
    -webkit-transition-property: all;
    -webkit-transition-duration: $sideBarAnimationSpeed ;
    // -webkit-transition: z-index 0;

}

.sidebarOpen{

    width: $gridColumnWidth * 4;
    z-index: 6;
}

.sidebarClose {
    z-index: -1 !important;
}

.myContainer{
    -webkit-transition-property: all;
    -webkit-transition-duration: $sideBarAnimationSpeed ;
    padding: 0px 10px 0 0px;
    height: 100%;
    overflow-y: scroll;
    -webkit-box-shadow: -3px -1px 2px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: -3px -1px 2px rgba(0, 0, 0, 0.95);
    box-shadow: -3px -1px 2px rgba(0, 0, 0, 0.95);
    background: url(../images/bg.jpg) repeat;
    filter: none;
    z-index: 5;
    
}

.containerSideClose{
    transform: translate3d(0,0,0);
}

.containerSideOpen{
    margin-left: $gridColumnWidth * 4;
    overflow-x: hidden;
}


.sidebarTop{
    a.brand > img{
        height: 20px;
    }
    .settings{
            position: absolute;
            right: 10px;
            // left: $gridColumnWidth * 4 - 3 *  $topBtnWidth - 15px;

            // -webkit-transition-property: all;
            // -webkit-transition-duration: 0.2s;

        .btn{
            background: url('./../images/buttonSettings.png');
            height: 21px;
            width: 10px;
            border-top: 0px;
        }

        .btn:hover{
            background: url('./../images/buttonSettingsHover.png');
            border-top: 0px;
        }
    }
}



@media (min-width: 1200px){
    .sidebarOpen{
        width: $gridColumnWidth1200 * 4;
    }

    .containerSideOpen{
        margin-left: $gridColumnWidth1200 * 4;
        // -webkit-transform: translate3d($gridColumnWidth1200 * 4,0,0) !important;
    }

}

@media (max-width: 979px) and (min-width: 768px){
    .sidebarOpen{
        width: $gridColumnWidth768 * 6 !important;
    }
    .containerSideOpen{
        margin-left: $gridColumnWidth768 * 6;
    }
    

}

@media (max-width: 767px){
    .sidebarOpen{
        width: 80% !important;
    }

    .containerSideOpen{
        position: fixed;
        left: 0%;
        width: 100% !important;
        margin-left: 0px;
        -webkit-transform: translate3d(79%,0,0) !important;
    }
    .containerSideClose{

        margin-left: 0px;
        position:fixed !important;
        left: 0px;
        width: 100% !important;
        min-height: 100%;
        height: 100%;
        overflow-x:hidden !important;
        overflow-y: scroll;
    }

}


.box{
}

.sidebarTop{
    -webkit-transition-property: width;
    -webkit-transition-duration: $sideBarAnimationSpeed;
    overflow: hidden;
    .navbar-inner{
        background: $sidebarBackgroundTop;
        border-top: none;
        border-left: none;
        padding: 0px 12px 0px 12px;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    }

}

.topbar-icon{
    display: block;
    background: url('./../images/topbar-icon.png');
    width: 28px;
    height: 20px;
}


//TOPNAVBAR
.myContainer > .navbar {
    position:fixed;
    width:100%;
    z-index: 10;
}



.content {
    padding: 60px 30px 0px 30px;
    // -webkit-box-shadow: -3px -1px 2px rgba(0,0,0,0.95);
    // -moz-box-shadow: -3px -1px 2px rgba(0,0,0,0.95);
    // box-shadow: -3px -1px 2px rgba(0,0,0,0.95);
    // background: url(../images/bg.jpg) repeat;
    // filter: none;

    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
    -webkit-overflow-scrolling: touch;

}
.graph-box {
background: none repeat scroll 0 0 #F9F9F9;
border: 1px solid #CDCDCD;
clear: both;
margin-top: 16px;
margin-bottom: 16px;
position: relative;
margin: 12px 41px 10px 0px;
width: 100%;

}

.graph-title {
background-color: #efefef;
background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
border-bottom: 1px solid #CDCDCD;
height: 36px;
line-height: 36px;
}

.chart{
    width: 100%;
    height: 265px;

    // padding-right: 20px;
    // box-sizing: border-box;
}

.text-title{
font-size: 22px;
line-height: 30px;
float: left;
margin-top: 2px;
margin-left: 15px; 
color: #646464;
font-weight: normal;
text-shadow: 0px 1px 0px #fff;
}

.navigationControls{
}
.visualizationControls{
    // float: right;
    z-index: 200;

    //     -webkit-transform: rotate(-270deg);
    // -webkit-transform-origin: bottom left;
    //     right: 0px;
    // top: 15px;
    // .btn{
    //     margin-left: 0px;
    //     font-size: 10px;
    // }
}

.modal-body{
    text-align: left;
}

.modal-remove-line{
    float: right;
}

.modal-body{
    select{
        width: 100px;
    }
    input[type="text"]{ 
        width: 200px;}
    select.operator{
        width: 80px;
    }
}
 .button-collapse{
    // float: right;
    margin-right: 15px;
 }

 .visualizationIcon{
    margin-right: 30px;
    margin-top: -11px;
 }
 .configIcon{
   margin-right: 30px;
   margin-top: 3px;
 }
.dropdown-menu{
    z-index: 100;
}
 .pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}


// Side Menu

.side-menu{
    margin-top: 30px;
    a{
            color: white !important;

    }
    ul{
        li{
            padding-left: 50px;
            padding-left: 20%;
            line-height: 40px;
            text-shadow: 0 1px 0 rgba(0,0,0,0.4);
            border-bottom: solid 1px;
        }
        li:hover{
            background-color: rgba(0,0,0,0.4);
        }

        li:first-child{
            border-top: solid 1px;
        }

    }
}

#loginForm{
    z-index: 100;
}

ul.typeahead.dropdown-menu{
    width: 543px !important;
    margin-left: -40px !important;   
}

div.modal-body{
    input{
        text-align:right;
    }
}



